.hero {
    padding: 0 7%;

    &-media {
        position: relative;
        height: 764px;
    }

    &-header {
        padding: 80px 0;
        margin: 0 auto;
        text-align: center;

        &-img {
            width: 88px;
            height: 88px;
        }

        &-title {
            color: #202124;
            margin-top: 24px;
            font-size: 4.5rem;
            font-family: "Assistant", sans-serif;
            font-weight: 500;

            & span {
                font-weight: 700;
            }
        }
    }

    .hero-collage {
        width: 88%;
        position: absolute;
        top: 70%;
        margin: 0 auto;
        margin-bottom: 10vh;

        div {
            position: relative;
            display: flex;
            justify-content: space-between;

            .left-column {
                width: max-content;
                .hero-element {
                    width: 190px;
                    height: 330px;
                    margin-top: 90px;
                    margin-left: -20px;
                    
                    &:first-child {
                        margin-top: 70px;   
                        width: 160px;
                        height: 300px;
                        margin-left: 0px;
                    }
                    
                    &:last-child {
                        margin-top: 0px;
                        width: 190px;
                        height: 340px;
                        margin-left: -10px;
                    }
                }
            }
            
            .right-column {         
                width: max-content;
                .hero-element {
                    width: 180px;
                    height: 330px;
                    margin-top: 90px;
    
                    &:first-child {
                        margin-top: 0px;
                        width: 190px;
                        height: 340px;
                    }
                    
                    &:last-child {
                        margin-top: 60px;   
                        width: 160px;
                        height: 300px;
                        margin-left: -10px;
                    }
                }
            }
            
            .left-column,
            .right-column {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(6, 1fr);
                column-gap: 20px;
                height: 400px;
            }
            
            .hero-element {
                overflow: hidden;
                width: 180px;
                height: 340px;
                border-radius: 20px;
                
                img {
                    object-fit: inherit;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .hero-phone-black {
        position: absolute;
        width: 364px;
        height: 700px;
        top: 600px;
        left: 50%;
        transform: translateX(-40%) scale(1.5);

        .hero-phone-template {
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;

            video {
                position: absolute;
                width: 64%;
                height: 100%;
                top: -8%;
                left: 9%;
                border-radius: 50px;
                overflow: hidden;
            }
        }
    }

    &-usedBy {
        display: flex;
        justify-content: space-between;
        margin-top: 40%;
        padding-top: 30%;
        margin-bottom: 500px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1500px;
        width: calc(100%-48px);
        position: relative;
        color: white;
        font-family: "Assistant", sans-serif;

        &-copy {
            margin-bottom: 0;
            padding-left: 140px;
            width: 320px;
            font-size: 1.3rem;
            line-height: 1.8rem;
            font-weight: 400;
            font-weight: 500;
        }

        &-logos {
            max-width: 480px;
            p {
                font-size: 1rem;
                font-weight: 600;
            }

            &-group {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 25px;
                img {
                    width: 120px;
                    height: 50px;
                    object-fit: cover;
                }
            }
        }
    }

    &-footer {
        margin: 0 auto;
        padding-bottom: 200px;
        margin-top: 650px;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        line-height: 4.2rem;
        
        h2 {
            font-family: "Assistant";
            display: inline-block;
            color: #202124;
        }
    }
}