.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    box-shadow: 0 1px 6px 2px#dadce0;
    border-bottom: 1px solid #dadce0;

    &-brand {
        display: flex;
        align-items: center;
    }

    &-title {
        font-size: 1.4rem;
        white-space: nowrap;
        color: $color-grey-medium;
        font-family: "Assistant", sans-serif;
        text-decoration: none;
        font-weight: 500;

        &:hover {
            color: $color-grey-dark;
        }
    }

    &-logo {
        margin-left: 5px;
        object-fit: cover;
        width: 66px;
        transform: translateY(3px);
    }

    &-wrapper {
        margin-left: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-nav > * + * {
        margin-left: 24px;
    }

    &-nav {
        display: flex;
        align-items: center;


        &-link {
            cursor: pointer;
            color: $color-grey-light;
            font-size: 1.05rem;
            font-weight: 500;
            font-family: "Assistant", sans-serif;
            transition: .3s color;

            &:hover {color: $color-blue;}
        }
    }
}