.slides-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .slide {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 37%;
        margin: 0 auto;

        span {
            width: 35px;
            height: 3px;
            margin-bottom: 15px;
        }

        &-button {
            margin-top: 30px;
        }

        &-big-title {
            color: $color-grey-dark;
            font-family: "Assistant", sans-serif;
            font-size: 2.6rem;
            line-height: 2.6rem;
            font-weight: 600;
            margin-bottom: 110px;
        }

        .slide-title {
            font-size: 1.8rem;
            font-weight: 600;
            font-family: "Assistant", sans-serif;
        }

        .slide-description {
            max-width: 270px;
            font-size: 1.1rem;
            line-height: 1.5rem;
            margin-top: 30px;
            font-family: "Assistant", sans-serif;
            color: $color-grey-medium;
        }
    }

    .slides-right {
        height: 100vh;
        overflow: hidden;
        position: relative;
        
        .slide-wrapper {
            width: 95%;
            height: 95%;
            opacity: 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            transform: translate(2.5%, 2.5%);
            top: 0;
            
            .slide-video {
                height: 65vh;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.as-primary {
                opacity: 1;
            }
        }
    }

}