@import './utils/_variables.scss';
@import './utils/_reset.scss';

@import './components/_navbar.scss';
@import './components/_hero.scss';
@import './components/_slides.scss';

.button {
    &.primary {
        background-color: $color-blue;
        border: none;
        padding: 14px 24px;
        border-radius: 4px;
        font-size: 1rem;
        color: white;
        font-weight: 600;
        letter-spacing: .2px;
        font-family: "Assistant", sans-serif;
        cursor: pointer;
        transition: .3s background-color;
        width: max-content;

        &:hover {
            background-color: $color-blue-dark;
        }
    }
}