@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

$font-familly: "Assistant", sans-serif;
$color-blue: #1a73e8;
$color-blue-dark: #1659b1;
$color-grey-light: #80868b;
$color-grey-medium: #5c6064;
$color-grey-dark: #202124;